version 20250610.050931_builder.r1495969;
# PE3 Configuration - including claude user
# Basic system configuration
system {
    host-name pe3;
    root-authentication {
        ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8GvwANwot/1lhpoM3ILOfgXwkVVPHLlpL8BZUCLdAKaLjMX7q6HM9a3TY/MnkNWtaAtl9VolN3eF6C/s1nKoqU3PX8n64ex2sIVJUyZ6p5HELB0fpr2Q89SwA7L9YBsaqmCtCIS0NOQ+/SEf6FgY5aEbDbrTvIKcgqTV1e86lHt4fKPDCaYKR5I1eDDISd3IenkrQsdG/CoBPqXbXN3C08uFRL+Vvyt6f/LX7KRE4KrhMNLC1N5cVKL/icv8SMAB89XhsqF2G7rqaZLYritroatT5BLrUbadinhWKB1Qp6jkmF2fVydVMZLWtNORAXfI7LKyA/ECso8jUKByPImGKdod6kG9OZafxgbybRzBdD7q7gjAp4JVW/26Btk+X2+XsyzhL5NHwFhDjaAreOnYokOwxly7g4LsM4ru+RbogBH2BZ2RmjKIaXODu/vyuiAhIz1gAnS1ZWPSQoWkGQ/Jz9JvQ7SVrfbBgRZbAaW/O+GPa2S7GCLyQgQkADx7yHls= jizquierdo@jizquierdo-mbp"; ## SECRET-DATA
    }
    login {
        user claude {
            uid 1001;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8GvwANwot/1lhpoM3ILOfgXwkVVPHLlpL8BZUCLdAKaLjMX7q6HM9a3TY/MnkNWtaAtl9VolN3eF6C/s1nKoqU3PX8n64ex2sIVJUyZ6p5HELB0fpr2Q89SwA7L9YBsaqmCtCIS0NOQ+/SEf6FgY5aEbDbrTvIKcgqTV1e86lHt4fKPDCaYKR5I1eDDISd3IenkrQsdG/CoBPqXbXN3C08uFRL+Vvyt6f/LX7KRE4KrhMNLC1N5cVKL/icv8SMAB89XhsqF2G7rqaZLYritroatT5BLrUbadinhWKB1Qp6jkmF2fVydVMZLWtNORAXfI7LKyA/ECso8jUKByPImGKdod6kG9OZafxgbybRzBdD7q7gjAp4JVW/26Btk+X2+XsyzhL5NHwFhDjaAreOnYokOwxly7g4LsM4ru+RbogBH2BZ2RmjKIaXODu/vyuiAhIz1gAnS1ZWPSQoWkGQ/Jz9JvQ7SVrfbBgRZbAaW/O+GPa2S7GCLyQgQkADx7yHls= jizquierdo@jizquierdo-mbp"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    syslog {
        archive {
            size 10m;
            files 10;
        }
        file messages {
            any notice;
            authorization info;
            interactive-commands any;
        }
        console {
            any emergency;
        }
    }
}
interfaces {
    eth1 {
        unit 0 {
            description "PE3 eth1 <-> PE1 eth1";
            family inet {
                address 10.11.13.2/24;
            }
        }
    }
    eth2 {
        unit 0 {
            description "PE3 eth2 <-> PE2 eth2";
            family inet {
                address 10.11.23.2/24;
            }
        }
    }
    eth3 {
        unit 0 {
            description "PE3 eth3 <-> PE5 eth3";
            family inet {
                address 10.11.35.1/24;
            }
        }
    }
    eth4 {
        unit 0 {
            description "PE3 eth4 <-> PE6 eth2";
            family inet {
                address 10.11.36.1/24;
            }
        }
    }
    eth5 {
        unit 0 {
            description "PE3 eth5 <-> PE4 eth5";
            family inet {
                address 10.11.34.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            description "PE3 Loopback Interface";
            family inet {
                address 10.10.10.13/32;
            }
        }
    }
}
routing-options {
    router-id 10.10.10.13;
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface eth5 {
                interface-type p2p;
            }
            interface eth4 {
                interface-type p2p;
            }
            interface eth1 {
                interface-type p2p;
            }
            interface eth2 {
                interface-type p2p;
            }
            interface eth3 {
                interface-type p2p;
            }
            interface lo.0 {
                interface-type nbma;
            }
        }
    }
}
